@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background:
    oklch(0.9880 0.0041 91.4455);
  --foreground:
    oklch(0.3658 0.0185 50.3838);
  --card:
    oklch(0.9676 0.0057 84.5663);
  --card-foreground:
    oklch(0.3658 0.0185 50.3838);
  --popover:
    oklch(0.9676 0.0057 84.5663);
  --popover-foreground:
    oklch(0.3658 0.0185 50.3838);
  --primary:
    oklch(0.5566 0.1619 24.0211);
  --primary-foreground:
    oklch(1.0000 0 0);
  --secondary:
    oklch(0.9320 0.0098 17.3322);
  --secondary-foreground:
    oklch(0.4431 0.0055 78.2701);
  --muted:
    oklch(0.9340 0.0042 91.4482);
  --muted-foreground:
    oklch(0.5522 0.0077 53.3518);
  --accent:
    oklch(0.9551 0 0);
  --accent-foreground:
    oklch(0.4431 0.0055 78.2701);
  --destructive:
    oklch(0.4309 0.1211 23.6829);
  --destructive-foreground:
    oklch(1.0000 0 0);
  --border:
    oklch(0.8771 0.0283 88.7624);
  --input:
    oklch(0.8771 0.0283 88.7624);
  --ring:
    oklch(0.5566 0.1619 24.0211);
  --chart-1:
    oklch(0.5566 0.1619 24.0211);
  --chart-2:
    oklch(0.5522 0.0077 53.3518);
  --chart-3:
    oklch(0.4858 0.1444 24.2458);
  --chart-4:
    oklch(0.5522 0.0077 53.3518);
  --chart-5:
    oklch(0.6304 0.1508 22.3721);
  --radius:
    0.3rem;
  --sidebar:
    oklch(0.8976 0.0044 17.2389);
  --sidebar-foreground:
    oklch(0.3658 0.0185 50.3838);
  --sidebar-primary:
    oklch(0.5566 0.1619 24.0211);
  --sidebar-primary-foreground:
    oklch(1.0000 0 0);
  --sidebar-accent:
    oklch(0.4858 0.1444 24.2458);
  --sidebar-accent-foreground:
    oklch(1.0000 0 0);
  --sidebar-border:
    oklch(0.8771 0.0283 88.7624);
  --sidebar-ring:
    oklch(0.5566 0.1619 24.0211);
  --font-sans:
    Oxanium, sans-serif;
  --font-serif:
    Merriweather, serif;
  --font-mono:
    Fira Code, monospace;
  --shadow-color:
    #483f38;
  --shadow-opacity:
    0.18;
  --shadow-blur:
    3px;
  --shadow-spread:
    0px;
  --shadow-offset-x:
    0px;
  --shadow-offset-y:
    2px;
  --letter-spacing:
    normal;
  --spacing:
    0.25rem;
  --shadow-2xs:
    0px 2px 3px 0px hsl(26.2500 12.5000% 25.0980% / 0.09);
  --shadow-xs:
    0px 2px 3px 0px hsl(26.2500 12.5000% 25.0980% / 0.09);
  --shadow-sm:
    0px 2px 3px 0px hsl(26.2500 12.5000% 25.0980% / 0.18), 0px 1px 2px -1px hsl(26.2500 12.5000% 25.0980% / 0.18);
  --shadow:
    0px 2px 3px 0px hsl(26.2500 12.5000% 25.0980% / 0.18), 0px 1px 2px -1px hsl(26.2500 12.5000% 25.0980% / 0.18);
  --shadow-md:
    0px 2px 3px 0px hsl(26.2500 12.5000% 25.0980% / 0.18), 0px 2px 4px -1px hsl(26.2500 12.5000% 25.0980% / 0.18);
  --shadow-lg:
    0px 2px 3px 0px hsl(26.2500 12.5000% 25.0980% / 0.18), 0px 4px 6px -1px hsl(26.2500 12.5000% 25.0980% / 0.18);
  --shadow-xl:
    0px 2px 3px 0px hsl(26.2500 12.5000% 25.0980% / 0.18), 0px 8px 10px -1px hsl(26.2500 12.5000% 25.0980% / 0.18);
  --shadow-2xl:
    0px 2px 3px 0px hsl(26.2500 12.5000% 25.0980% / 0.45);
  --tracking-normal:
    normal;
}

.dark {
  --background:
    oklch(0.2326 0.0036 48.5634);
  --foreground:
    oklch(0.9699 0.0013 106.4238);
  --card:
    oklch(0.2838 0.0048 39.4079);
  --card-foreground:
    oklch(0.9699 0.0013 106.4238);
  --popover:
    oklch(0.2838 0.0048 39.4079);
  --popover-foreground:
    oklch(0.9699 0.0013 106.4238);
  --primary:
    oklch(0.5566 0.1619 24.0211);
  --primary-foreground:
    oklch(1.0000 0 0);
  --secondary:
    oklch(0.4431 0.0055 78.2701);
  --secondary-foreground:
    oklch(0.9232 0.0026 48.7171);
  --muted:
    oklch(0.2591 0.0049 39.3976);
  --muted-foreground:
    oklch(0.7150 0.0055 48.6571);
  --accent:
    oklch(0.3728 0.0043 67.6928);
  --accent-foreground:
    oklch(1.0000 0 0);
  --destructive:
    oklch(0.5566 0.1619 24.0211);
  --destructive-foreground:
    oklch(1.0000 0 0);
  --border:
    oklch(0.3728 0.0043 67.6928);
  --input:
    oklch(0.3728 0.0043 67.6928);
  --ring:
    oklch(0.5566 0.1619 24.0211);
  --chart-1:
    oklch(0.5566 0.1619 24.0211);
  --chart-2:
    oklch(0.7150 0.0055 48.6571);
  --chart-3:
    oklch(0.4858 0.1444 24.2458);
  --chart-4:
    oklch(0.5522 0.0077 53.3518);
  --chart-5:
    oklch(0.6304 0.1508 22.3721);
  --sidebar:
    oklch(0.2838 0.0048 39.4079);
  --sidebar-foreground:
    oklch(0.9699 0.0013 106.4238);
  --sidebar-primary:
    oklch(0.5566 0.1619 24.0211);
  --sidebar-primary-foreground:
    oklch(1.0000 0 0);
  --sidebar-accent:
    oklch(0.4858 0.1444 24.2458);
  --sidebar-accent-foreground:
    oklch(1.0000 0 0);
  --sidebar-border:
    oklch(0.3728 0.0043 67.6928);
  --sidebar-ring:
    oklch(0.5566 0.1619 24.0211);
  --radius:
    0.3rem;
  --font-sans:
    Oxanium, sans-serif;
  --font-serif:
    Merriweather, serif;
  --font-mono:
    Fira Code, monospace;
  --shadow-color:
    #1a1a1a;
  --shadow-opacity:
    0.18;
  --shadow-blur:
    3px;
  --shadow-spread:
    0px;
  --shadow-offset-x:
    0px;
  --shadow-offset-y:
    2px;
  --letter-spacing:
    normal;
  --spacing:
    0.25rem;
  --shadow-2xs:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.09);
  --shadow-xs:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.09);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.18);
  --shadow:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.18);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.18);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.18);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.18);
  --shadow-2xl:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans:
    Oxanium, sans-serif;
  --font-mono:
    Fira Code, monospace;
  --font-serif:
    Merriweather, serif;
  --radius:
    0.3rem;
  --tracking-tighter:
    calc(var(--tracking-normal) - 0.05em);
  --tracking-tight:
    calc(var(--tracking-normal) - 0.025em);
  --tracking-wide:
    calc(var(--tracking-normal) + 0.025em);
  --tracking-wider:
    calc(var(--tracking-normal) + 0.05em);
  --tracking-widest:
    calc(var(--tracking-normal) + 0.1em);
  --tracking-normal:
    var(--tracking-normal);
  --shadow-2xl:
    var(--shadow-2xl);
  --shadow-xl:
    var(--shadow-xl);
  --shadow-lg:
    var(--shadow-lg);
  --shadow-md:
    var(--shadow-md);
  --shadow:
    var(--shadow);
  --shadow-sm:
    var(--shadow-sm);
  --shadow-xs:
    var(--shadow-xs);
  --shadow-2xs:
    var(--shadow-2xs);
  --spacing:
    var(--spacing);
  --letter-spacing:
    var(--letter-spacing);
  --shadow-offset-y:
    var(--shadow-offset-y);
  --shadow-offset-x:
    var(--shadow-offset-x);
  --shadow-spread:
    var(--shadow-spread);
  --shadow-blur:
    var(--shadow-blur);
  --shadow-opacity:
    var(--shadow-opacity);
  --color-shadow-color:
    var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing:
    var(--tracking-normal);
  }
}